* {
  margin: 0;
  padding: 0;
}
.rosie {
  color: black;
  font-size: 70px;
}

.rosiepic {
  object-fit: fill;
  height: 300px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .backgroundProject {
  background-color: black;
  height: 700px;
} */

/* HomeCard CSS */
#homeCard {
  background-color: #BCAAA4;
  font-family: 'Noto Sans JP', sans-serif;
  height: 800px;
  width: 1200px;
  border-radius: 20px;
  border: 4px solid #c9bbb6 ;
  animation: appear 2s linear forwards;
  opacity: 0;
}

@keyframes appear {
  to {
    opacity: 100%;
  }
}


.rosieName {
  color: white;
  font-size: 64px;
}

.containerAnimation {
  display: inline-block;
  font-size: 24px;
}

.journey {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
  width: 0;
  border-right: 2px solid;
  animation: typing 2.5s steps(40, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {width: 0}
  to { width: 100%}
}

@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: black}
  100% {border-right-color: transparent}
}
.softwareP {
  font-size: 48px;
  margin-right: 20px;
}
.footerSoftware {
  display: flex;
  width: 100%;
  justify-content: end;
}

.footerSoftware div a {
  margin: 0px 10px;
}
.path {
  stroke-dasharray: 562;
  stroke-dashoffset: 1124;
  animation: dash 10s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.red {
  color: red;
  opacity: 60%;
}
.middleName {
  color: black;
}
.blue {
  color: blue;
  opacity: 60%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  width: 100%;
}

.nav nav {
  display: flex;
  width: 40%;
  justify-content: space-around;
}



/* Cursor CSS */
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #f8bbd0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color:  #f8bbd0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
}

