* {
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: none;
  color: white;
}
.rosie {
  color: white;
  font-size: 60px;
}

.nav {
  color: white;
  height: 500px;
  font-size: 45px;
  display: flex;
  position: absolute;
  transform: translate(1vh, 50%);
}

.nav nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #f8bbd0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color:  #f8bbd0;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 100ms ease-out;
}

.cyanHover:hover {
  animation: hoverEffect 200s forwards;
}

@keyframes hoverEffect {

  0% {color: white;
      transform: translateX(0%);    
  }
  .1% {color: aqua;
      transform: translateX(10%);
    }
  
}